<%- include("partials/header"); -%>
<a href="/about">
    <h1 class="post-header">
        About
    </h1>
</a>
<p class="post-content">
    <%= about_content %>
</p>
<%- include("partials/footer"); -%>