<%- include("partials/header"); -%>
<a href="/contact">
    <h1 class="post-header">
        Contact
    </h1>
</a>
<p class="post-content">
    <%= contact_content %>
</p>
<%- include("partials/footer"); -%>